*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 103px;
    height: 31px;
    margin-top: 15px;
}
.cardSignUp{
    width: 24rem;
    /* height: 35rem !important; */
    padding: 20px;
    display: flex;
    justify-content: space-around; 
    flex-direction: column;
    border-radius: 4px;
    margin: 20px auto 25px auto;
}

.cardSignUp h1{
/* font-weight: 50px; */
    font-size: 25px;
}
.cardSignUp h5{
    padding-top: .5rem;
    font-size: 16px !important;
    padding-bottom: 0 !important;
}


.cardSignUp button{
    width: 20rem;
    height: 2rem;
    margin-top: 15px;
    background-color: #F7CA00;
    border: 1px solid #F7CA00;
    border-radius: 7px;
}
.cardSignUp button:hover{
    background-color: #cfab0c;
    border: 1px solid #cfab0c;
}
.cardSignUp p,.cardSignUp p a{
    font-size: 12px;
    line-height: 1.5;
}
a{
    text-decoration: none !important;
    color: #0066c0;
}
.cardSignUp a{
    margin-top: 2%;
    font-size: 13px;
}
#exampleInputEmail1, #exampleInputEmail2,#exampleInputEmail3,#exampleInputEmail4, #exampleInputPassword1{
    margin-top: -12px !important;
}
.btn button{
    width: 23rem;
    height:2rem;
    margin: 15px auto;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 8px;
}
.btn button:hover{
    background-color: #ededed;
}
footer .links{
    display: flex;
    justify-content: space-between;
    width: 15rem;
    margin: 2rem auto .4rem auto;
}
footer .links a{
    font-size: 12px;
}
 a:hover{
    color: rgb(188, 95, 34);
    text-decoration: underline;
}
footer::before{
    content: "";
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    height: 3rem;
    margin-top: -35px;
    border-top: 1px solid transparent;
    box-shadow: 0 10px 15px -20px #333;
}
footer p{
    font-size: 11px;
    color:#555;
    text-align: center;
}
.Already::before{
    content: "";
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    height: 3rem;
    margin-top: -45px;
    margin-bottom: 20px;
    border-top: 1px solid transparent;
    box-shadow: 0 10px 15px -20px #333;
}


