.title-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    max-height: 150px;
}

.img{
    padding: 16px  0;
       width: initial !important;
       max-height: 218px  !important;
       min-height: 216px !important;
} 
.paginated .pagination {
 justify-content: center;
}
/* @media screen and (max-width: 9 68) {

.todayDealsLeftSide  {
display: none;
}
} */

/* @media (max-width: 980px) {


    .elecLeftSide{
      display: none;
    }
} */

@media only screen and (min-width : 320px) and (max-width : 770px) {
    .todayDealsLeftSide  {
        display: none;
        }
  
    .elecLeftSide{
        display: none;
      }
}